---
layout: default
title: Recent posts
description: Software developer from Cologne, Germany.
---
<div class="home">
  <p class="page-content">
    Software developer from Cologne, Germany.
  </p>
  <h1 class="post-list-heading">Recent posts</h1>
  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          {%- if post.external -%}
            <a class="post-link" href="{{ post.external }}">
              🔗
              {{ post.title | escape }}
              <span class="post-domain">({{ post.external_domain }})</span>
            </a>
          {%- else -%}
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          {%- endif -%}
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
