<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div style="display:flex;justify-content:space-between;">
      <div>
        <style>
          .saturate {
            filter: saturate(0%);
            transition: filter 0.3s;
          }

          .saturate:hover,
          .saturate:active {
            filter: saturate(100%);
            text-decoration: none;
          }
        </style>
        <p>
          You can reach out to me at
          <a href="mailto:ob@ob.codes">ob@ob.codes</a>.
          <br />
          <a href="https://gitlab.com/oleblaesing" class="saturate">
            <img src="/gitlab.png" alt="GitLab" height="38px" width="38px" style="display:inline;margin-left:-7px;" />
          </a>
        </p>
        <p>
          Please let me know if I made any wrong assumptions or mistakes via
          <a href="https://gitlab.com/oleblaesing/oleblaesing.gitlab.io/issues">
            GitLab Issues
          </a>
          to not spread misinformation.
        </p>
        <p>
          Built with
          <a href="https://jekyllrb.com/">Jekyll</a>.
          Hosted on
          <a href="https://docs.gitlab.com/ee/user/project/pages/">GitLab Pages</a>.
        </p>
        <noscript>
          <p>
            JavaScript is required to enable syntax highlightning.
          </p>
        </noscript>
      </div>
      <div style="flex-shrink:0;margin-left:20px;">
        <img src="/profile.jpg" alt="A painting of myself" height="150px" width="150px" />
      </div>
    </div>
  </div>

</footer>
