<header class="site-header" role="banner">

  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      <img src="/logo.png" height="55px" width="55px" style="display:inline;float:left;margin-right:10px;" />
      {{ site.title | escape }}
    </a>
  </div>
</header>
