<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script>
      (function () {
        const link = document.createElement('link')
        link.rel = 'stylesheet'
        link.href = '/assets/main.css'

        document.head.appendChild(link)
      })()
    </script>
  </body>

</html>
